body{
	font-family:algerian;
}
header{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 20px;
  padding: 10px 10px;
  background-color:#9D9C9E;
  text-transform: uppercase;
  text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;	
}
#contenedor{
	background-color:#FEFDFF;
	margin-top:10%;
	
}
#titulo{
	text-align:center;
	color:#105356;
	font-size:30px;
	-webkit-text-stroke: 2px #105356;
}
#izqui{
	float:left;
	width:50%;
	padding-top:40px;
	padding-bottom:40px;
	padding-right:5px;
	
}
#der{
	margin-left:50%;
	padding-top:40px;
	
	padding-bottom:40px;
	padding-left:10px;
}
#izqui1{
	float:left;
	width:50%;
	padding-left:10px;
	padding-right:5px;
	
}
#der1{
	margin-left:50%;
}
#izquierda{
	float:left;
	width:50%;
}
#derecha{
	margin-left:50%;
	
}
#cuerpo #general h1
{
	text-align:center;
    text-align:center;
	color:#105356;
	font-size:30px;
	-webkit-text-stroke: 2px #105356;
}
td{
	
}
tr th
{
	text-align:center;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
}
tr td p
{
	
	margin-left: 25%;
	text-align:center-left;
	font-family: Arial, sans-serif;
}
#genral{
	float:left;
	width:30;
}
table th
{
 background-color: #272728;
 
}
table th td
{
	border: 1px solid black;
}
table{
  text-align: center;
  width:100%;

}
.row
{
	text-align: center;
}