
 #cuerpo{
	  margin-top:120px;
	  
	  min-height:500px;
	  background-color: #AF8763;
	  
 }
   #izquierdo{
	            width:50%;
                
				float:left;
				 min-height:500px;
				 padding-top:50px;
				 padding-left:30px;
                
            }
	#derecha{
		
		margin-left:50%;
		padding-top:50px;
		
		 
	}
   
   #text_izq{
	   float: left;
	   width:50%;
	   font-size:18px;
	   font-family:arial;
   }
   #text_der{
	   margin-left:50%;
	   font-size:18px;
	   font-family:arial;
	   
   }
   #debajo{
	   clear:both;
	   background-color: #F7E8A6;
	   
	   
   }
  
   #Name,#celu,#direccion{
	   margin-left: 10px;
  
	   
   }
   #debajo_izq{
	   float:left;
	   padding-left:5%;
	   width: 20%;
	   background-color: #C8BCF2;
   }
   #debajo_der{
	   width:30%;
	   margin-right:30%;
	   text-align:center;
	   float:right;
	   padding-left:10%;
	   
   }
   #imagen{
	   border: 5px solid 603AF7;
	   border-radius: 5%;
   }
   
	   

     
   
   
  
  
  
 